.*
*.py[cod]
*.log
__pycache__/
results/
reports/
cache/
pretrained/
checkpoints/
!.gitignore
visualization/
tracking_result.mp4
*.jpg
*.png
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.onnx
*.pth
*.pth.tar
*.tar
*.gz
*.zip
*.rar
*.7z
*.avi